body {
  background-color: #34495e;
  color: white;
}

.ecosystem {
  .forest {
  }
}

.row {
  margin-bottom: 5px;
  clear: both;
}

.column {
  float: left;
  margin-right: 5px;
}

.entity {
  width: 20px;
  height: 20px;

  box-shadow: 1px 1px solid black;
  text-align: center;

  background-color: red;
}

.clearfix {
  clear: both;
}
